{
    "presets": [
      "env",
      "stage-0"
    ],
    "plugins": [
      [
        "transform-runtime",
        {
          "polyfill": false,
          "regenerator": true
        }
      ]
    ],
    "env": {
      "test": {
        "sourceMaps": "inline",
        "retainLines": true
      }
    }
  }